@font-face {
    font-family: "Fraunces_9pt-Light";
    src: url("../fonts/Fraunces_9pt-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Crimson Pro";
    src: url("../fonts/CrimsonPro-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "InstrumentSerif-Regular";
    src: url("../fonts/InstrumentSerif-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "InstrumentSerif-Italic";
    src: url("../fonts/InstrumentSerif-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}