@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "forms";

html {
    scroll-behavior: smooth;
}

.container-lg {
    @apply max-w-[1440px] mx-auto;
}

body {
    font-family: var(--instrument-sans);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--instrument-serif) !important;
    @apply leading-[1.1];
}

h1 {
    @apply text-[2.25rem] md:text-[5rem] leading-[1];
}

p {
    @apply leading-[1.4];
}

h2 {
    @apply text-[3.125rem] md:text-[4rem];
}

a, button {
    font-family: var(--inter) !important;
}

.btn {
    @apply uppercase;
}

#hero-masthead,
#product-masthead,
#about-masthead {
    min-height: calc(100dvh - 94px);
    margin-top: 94px;

    @media screen and (max-width: 1024px) {
        min-height: calc(100dvh - 67px);
        margin-top: 67px;
    }
}

#about-masthead {
    h2 {
        font-family: var(--instrument-serif) !important;
    }
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#our-products {
    .products-container {
        grid-template-areas: 
        "grid-area-1 grid-area-1 grid-area-1 grid-area-2 grid-area-2 grid-area-2"
        "grid-area-1 grid-area-1 grid-area-1 grid-area-2 grid-area-2 grid-area-2"
        "grid-area-3 grid-area-3 grid-area-4 grid-area-4 grid-area-4 grid-area-4"
        "grid-area-5 grid-area-5 grid-area-4 grid-area-4 grid-area-4 grid-area-4"
        "grid-area-6 grid-area-6 grid-area-6 grid-area-7 grid-area-7 grid-area-7";
        
        @media screen and (max-width: 640px) {
            grid-template-areas: unset;
            grid-template-columns: 1fr;
        
            .product-card {
                grid-area: unset !important;
            }
        }
    }

    .product-card {
        &__label {
            font-family: var(--inter) !important;
        }
    }
}

.image-carousel-swiper {
    .swiper {
        display: flex;
        flex-direction: column-reverse;
    }
    .swiper-wrapper {
        margin-top: 4rem;
    }
}

.menu-btn {
    
    &__burger {
        width: 22.5px;
        position: relative;
        pointer-events: none;
        font-size: 12px;

        &::after, &::before {
            content: "";
            height: 1px;
            width: 100%;
            background-color: black;
            position: relative;
            display: block;
            transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
            transform-origin: center;
        }

        &::after {
            top: -4px;
        }
        &::before {
            top: 4px;
        }

        &--active {
            &::after {
                transform: rotate(45deg);
                top: -1px;
            }
            &::before {
                transform: rotate(-45deg);
                top: 1px;
            }
        }
    }

    &__label {
        @apply uppercase;
        p {
            &:nth-of-type(2) {
                position: absolute;
                opacity: 0;
            }
        }
    }
}