@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

.container-lg {
    @apply max-w-[1440px] mx-auto;
}

h1 {
    font-family: "Fraunces_9pt-Light", serif !important; 
    @apply text-[64px] leading-[1.1];
}

h2, p {
    @apply font-crimson-pro font-extralight;
}

#hero-masthead {
    min-height: calc(100dvh - 94px);
    margin-top: 94px;
}

#our-products {
    grid-template-areas: 
    "grid-area-1 grid-area-1 grid-area-1 grid-area-2 grid-area-2 grid-area-2"
    "grid-area-1 grid-area-1 grid-area-1 grid-area-2 grid-area-2 grid-area-2"
    "grid-area-3 grid-area-3 grid-area-4 grid-area-4 grid-area-4 grid-area-4"
    "grid-area-5 grid-area-5 grid-area-4 grid-area-4 grid-area-4 grid-area-4"
}

.image-carousel-swiper {
    .swiper {
        display: flex;
        flex-direction: column-reverse;
    }
    .swiper-wrapper {
        margin-top: 4rem;
    }
}